<h2>This is the profile of the book {{book.name}}</h2>

<h3>Edit the book name</h3>
<form method="POST" action="/books/edit">
  <input name="name" type="text" placeholder="Book name" value="{{book.name}}" />
  <input name="year" type="number" placeholder="Book year" value="{{book.year}}" />
  <input name="id" type="hidden" value="{{book.id}}" />
  <button type="submit">Edit book</button>
</form>

<h3>DELETE BOOK!</h3>
{{!-- hbs does not support variables as arguments in functions, so we had to create the json helper --}}
<button type="button" onclick="deleteBook({{ json book.id }})">Delete book</button>

<h3>Book reviews</h3>
  {{#each book.reviews}}
  <li>
    <span>{{this.content}} </span>
  </li>
  {{/each}}

<script>
  // When clicking the button, we receive the book id. After that, we'll send a delete fetch
  // to /books/:id and after deleting, we'll redirect to /books page. In case of error,
  // an alert will show communicating that to the user.
  function deleteBook(bookId) {
    fetch(`/books/${bookId}`, { method: 'DELETE' })
      .then(res => res.json())
      .then(() => {
        window.location.replace('/books');
      })
      .catch((err) => {
        alert('There was an error deleting the book!')
      })
  }
</script>